/*Full-Width Image Styles*/
.fullwidth_es {
  max-width: inherit;
  width: 100vw;
  position: relative;
  margin: auto -50vw;
  left: 50%;
  right: 50%;
}
.fullwidth_es img.img-responsive {
  max-height: 500px;
  object-fit: cover;
  object-position: center;
  width: inherit;
}
/*Nav & CTA Buttons Styles*/
.btnscontainer {
  display: flex!important;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.5em;
  align-items: stretch;
}
a.navbtn_es, button.ctabtn_es {
  outline: none;
  text-align: center;
  font-size: 20px !important;
  display: block;
  padding: 15px 30px;
  overflow: hidden !important;
  word-wrap: normal !important;
  width: fit-content;
  text-decoration: none !important;
}
a.navbtn_es:hover, button.ctabtn_es:hover {text-decoration: none !important;}
/* Accordion Styles */
.emaccordion {
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.1s;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.emaccordion:after {content: '\002B';font-weight: 600;}
.emaccordion.active:after {content: "\2212";margin: 1px;}
div.empanel {
  padding: 0 13px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-in-out, opacity 0.3s ease-in-out;
  opacity: 0;
  margin-bottom: 10px;
}
div.empanel.show {opacity: 1;max-height: 100%;}
/*Image Grid Styles*/
.img-grid_anchor_es a {font-size: inherit !important;text-decoration: none !important;}
.img-grid_anchor_es {margin-top: 15px !important;text-align: center !important;}
