:root {
    --color-primary: #4b7d6b;
    --color-secondary: #ffffff;
    --btn-textcolor: #ffffff;
    --base-textcolor: #000000;
}
/*Nav Button*/
.BRbtn_es {
    color: var(--btn-textcolor)!important;
    background: var(--color-primary);
    border: 1px solid var(--color-primary);
    border-radius: 3px;
}
.BRbtn_es:hover {
    color: var(--color-primary)!important;
    background: var(--color-secondary)!important;
    border: 1px solid var(--color-primary)!important;
    box-shadow: 1px solid rgba(255, 255, 255, 0);
}
/*Accordion Styles*/
.BRaccordion {
    background-color: var(--color-primary);
    color: var(--btn-textcolor) !important;
    cursor: pointer !important;
}
.BRaccordion.active,
.BRaccordion:hover {
    box-shadow: 1px solid rgba(255, 255, 255, 0);
    background: var(--color-secondary);
    color: var(--color-primary)!important;
    border: 1px solid var(--color-primary);
}
.BRaccordion.active::after {
    color: var(--color-primary)!important;
    font-size: inherit;
}
/*Images Grid Styles*/
.BRanchor_es a,
.BRanchor_es {color: var(--color-primary)!important;}
.BRanchor_es:hover a,
.BRanchor_es:hover {color: var(--base-textcolor)!important;}
