:root {
    --color-primary: #8c0ac8;
    --color-secondary: #acff99;
    --btn-textcolor: #242529;
    --base-textcolor: #242529;
}
/*Nav Button*/
.F8btn_es {
    color: var(--btn-textcolor)!important;
    background: var(--color-primary);
    border: 1px solid var(--color-primary);
    border-radius: 24px;
}
.F8btn_es:hover {
    color: var(--btn-textcolor)!important;
    background: var(--color-secondary)!important;
    border: 1px solid var(--color-secondary)!important;
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);
}
/*Accordion Styles*/
.F8accordion {
    background-color: var(--color-primary);
    color: var(--btn-textcolor) !important;
    cursor: pointer !important;
}
.F8accordion.active,
.F8accordion:hover {
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);
    background: var(--color-secondary);
    border: none;
}
.F8accordion:after,
.F8accordion.active:after {
    color: var(--btn-textcolor)!important;
    font-size: inherit;
}
/*Images Grid Styles*/
.F8anchor_es a,
.F8anchor_es {color: var(--color-primary)!important;}
.F8anchor_es:hover a,
.F8anchor_es:hover {color: var(--color-secondary)!important;}