:root {
    --color-primary: #118066;
    --color-secondary: #0c6b52;
    --btn-textcolor: #ffffff;
    --base-textcolor: #002677;
}
/*Nav Button*/
.ZGbtn_es {
    color: var(--btn-textcolor)!important;
    background: var(--color-primary);
    border: 1px solid var(--color-primary);
    border-radius: 30px;
}
.ZGbtn_es:hover {
    color: var(--btn-textcolor)!important;
    background: var(--color-secondary)!important;
    border: 1px solid var(--color-secondary)!important;
    box-shadow: 1px solid rgba(255, 255, 255, 0);
}
/*Accordion Styles*/
.ZGaccordion {
    background-color: var(--color-primary);
    color: var(--btn-textcolor) !important;
    cursor: pointer !important;
}
.ZGaccordion.active,
.ZGaccordion:hover {
    box-shadow: 1px solid rgba(255, 255, 255, 0);
    background: var(--color-secondary);
    border: none;
}
.ZGaccordion:after,
.ZGaccordion.active:after {
    color: var(--btn-textcolor)!important;
    font-size: inherit;
}
/*Images Grid Styles*/
.ZGanchor_es a,
.ZGanchor_es {color: var(--color-primary)!important;}
.ZGanchor_es:hover a,
.ZGanchor_es:hover {color: var(--color-secondary)!important;}
