/*Booking Mask Full-Width*/
@media only screen and (min-width: 1000px) {
    .FlightsBooking {height: 650px;}
    .FlightsBooking.w-full.max-w-full.lg\:max-w-6xl.self-center {height: 100%!important;}
    .FlightsBooking .bg-cover.bg-no-repeat {height: 465px;position: relative;}
    .FlightsBooking.self-center .px-3.py-4 .bg-cover.bg-no-repeat {height: 100%!important;}
    .FlightsBooking .bg-cover.bg-no-repeat > div {position: absolute;}
    .FlightsBooking.self-center .px-3.py-4 .bg-cover.bg-no-repeat > div {position: initial!important;}
    .FlightsBooking .FareTitleHeader {
        bottom: 0;
        right: 0;
        left: 0;
    }
    .FlightsBooking .BookingMask {
        left: 0;
        right: 0;
        bottom: -170px;
    }
}
/*Destination Images*/
.HeroImage img.image {border-radius: 16px}
/*Footer Payment Logos*/
.paymentsection {
    width: 100%;
    position: relative;
}
.paymentlogos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 25px;
}
.paymentlogos img {max-width: 60px}
.paymentsection a {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
}
/*Banner Images (Thin & Full Width)*/
.fullwidth_banner {
    position: relative;
    max-width: inherit;
    width: 100vw;
    margin: auto -50vw;
    left: 50%;
    right: 50%;
}
.thinbanner {
    display: block;
    height: 80px;
    background-position: center;
    background-size: contain;
    background-repeat: repeat-x;
}
.fullwidth_banner img.img-responsive {width: 100%}
/*Grid Cards (3x1 & 2x1)*/
.threecards_grid img,
.twocards_grid img {
    border-radius: 8px;
}
.threecards_grid h3,
.twocards_grid h3 {
    margin-top: 16px !important;
}